
@{
    ViewBag.Title = "AboutUs";
}

<h2>About Us</h2>
<div>
    <p>
        The company was founded in the beginning of time by Adam. <br>
        He wanted to take care of the earth and we rediscovered his inventions<br />
        With over 10 billion in revenue each year we are set to take over the world

    </p>
</div>
