
@{
    ViewBag.Title = "Index";
}

<h2>Mission site</h2>
@Html.ActionLink("Home", "Index", "LandingPage", new { area = "" })
@Html.ActionLink("Missions", "Index", "About us ", new { area = "" })
@Html.ActionLink("Contact", "Index", "Contact", new { area = "" })

